    <%= simple_form_for @question do |f| %>
        <div class="form-inputs">
            <%= f.input :prompt %>
            <%= f.button :submit, @question.new_record? ? "Create Question" : "Update Question" %>
        </div>
    <% end %>