<div class="row">
    <div class="small-8 columns">
        <h2>Your Questions</h2>
    </div>
    <% if @questions.count > 0 %>
        <div class="small-4 columns">
            <%= link_to new_question_path, :class => "button" do %>
                <i class="fa fa-plus-circle"></i> Create New Question
            <% end %>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="small-12 columns">
        <% if @questions.count > 0 %>
            <% @questions.each do |q| %>
                <p><%= q.prompt %></p>
            <% end %>
        <% else %>
            <p>You haven't created any questions yet. <%= link_to "Create a new question", new_question_path %> to get started.</p>
        <% end %>
    </div>
</div>