<% content_for :title do %>
    New Question
<% end %>
<div class="row">
    <div class="small-6 columns small-centered">
        <h3>Create Question</h3>
        <%= render 'form' %>
    </div>
</div>