<div class="row">
    <div class="columns small-12 medium-6 medium-centered text-center">
        <h2>Thank you!</h2>
        <p>You have joined your class. </p>
        <p><%= link_to "Create Contact", @link %></p>
    </div>
</div>
