<%= simple_form_for @period do |f| %>
    <div class="form-inputs">
        <%= f.input :title, label: 'Class Title' %>
        <%= f.input :number, label: 'Period Number', collection: 0..8 %>
    </div>
    <div class="form-inputs">
        <%= f.button :submit, @period.new_record? ? "Create" : "Update" %>
    </div>
<% end %>