<% content_for :title do %>
    Create a New Class
<% end %>

<div class="row">
    <div class="columns large-8 small-12 small-centered">
        <h2>New Class</h2>
        <p>Please name your class and select a period number.</p>
        <%= render 'form' %>
    </div>
</div>