

<div class="row">
    <div class="columns small-6 small-centered">
    <%= simple_form_for @period do |f| %>
        <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :number, collection: 1..8 %>
        </div>
        <div class="form-inputs">
            <%= f.button :submit, "Create" %>
        </div>
    <% end %>
    </div>
</div>