<% content_for :title do %>
    Exit Slips
<% end %>
<div class="row">
    <div class="small-12 columns small-centered">
        <%= link_to 'New Exit Slip', new_response_set_path %>
    </div>
</div>