

<%= render 'status' %>

<% if !@response_set.nil? %>
<div class="row">
    <div class="columns small-12 small-centered">
       <h3>Responses</h3>
        <table>
            <thead>
                <tr>
                    <th>Received</th>
                    <th>Student</th>
                    <th>Response</th>
                    <th>
                        Rating 
                        <i class="fa fa-question-circle right tip-top" 
                            data-tooltip aria-haspopup="true" 
                            title="Rate your student's response. More details can be found in the FAQ">
                        </i>
                    </th>

                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: completeResponses -->
                <tr>
                    <td>
                        <i class="fa fa-check-circle-o" title="has responded"></i>
                    </td>
                    <td data-bind="text: student.name"></td>
                    <td data-bind="text: response_text"></td>
                    <td>
                        <div class="starrr" data-options="hover_delay: 0" data-bind="attr: {'data-id':id, 'data-rating':rating}"></div>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko foreach: incompleteResponses -->
                <tr>
                    <td>
                        <i class="fa fa-circle-o" title="has not responded"></i>
                    </td>
                    <td data-bind="text: student.name"></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
<% end %>


