<% content_for :title do %>
    FAQ's
<% end %>
<div class="row">
    <div class="columns small-9 small-centered">
        <h2>FAQ</h2>
        <h4>Who can use myexitslip?</h4>
        <p></p>
        <h4>How do I rate exit slips?</h4>
        <p></p>
        <h4>Why should I rate exit slips?</h4>
    </div>
</div>