// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation_and_overrides.scss';

$light-gray: #f9f9fa;

.darker-row, .dark-row{
     -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);   
}

.darker-row{
    background-color: darken($light-gray, 5%);
    padding:10px 0;
    margin-bottom:1px
}

.dark-row{
    background-color:$light-gray;
    padding:40px 0;
    margin-bottom:30px;
}

.callout{
    
    ul{
       list-style-type: none; 
    }
    
    .border-right{
        border-right:1px solid darken($light-gray, 10%); 
        min-height: 90px;
    }
    
    #total-students, h4{
        position: absolute;
        left: 50%;
        min-width:140px;
        margin-left: -70px; 
    }
    
    h4{
      top: 70px;
    }
    #total-students{
        top:110px;
    }
    canvas{
        font-family: $font-family-sans-serif;   
    }
    

    
}
